@{
    ViewData["Title"] = "افزودن برند";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model VmBrand
@inject Microsoft.AspNetCore.Identity.UserManager<NewKarma.Areas.Identity.Data.ApplicationUser> thisUserManagerk
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                @ViewData["Title"]
            </div>
            <form asp-area="Admin" asp-controller="Category" asp-action="Create" enctype="multipart/form-data" method="post">
                <input hidden asp-for="UserIDFK" value="@thisUserManagerk.GetUserId(User)" />
                <div asp-validation-summary="All"></div>
                <div class="row card-body mb-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label>عنوان</label>
                                    <input asp-for="Title" type="text" class="form-control validate">
                                    <span asp-validation-for="Title"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-info float-right">افزودن </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

