@addTagHelper*,NewKarma
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">پنل مدیریت</li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Dashbord" asp-action="Index" class="nav-link">
                    <i class="icon icon-speedometer"></i> داشبورد
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-settings"></i> مدیریت قطعات <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-link">
                            <i class="icon icon-eye"></i> مشاهده قطعات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="nav-link">
                            <i class="icon icon-magnifier-add"></i> افزودن قطعه جدید
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-chart"></i>مدیریت دسته بندی <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
                            <i class="icon icon-eye"></i> مشاهده دسته بندی
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="nav-link">
                            <i class="icon icon-pie-chart"></i> افزودن دسته بندی جدید
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-user"></i> مدیریت برند <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="nav-link">
                            <i class="icon icon-pin"></i> مشاهده برند ها
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Brand" asp-action="Create" class="nav-link">
                            <i class="icon icon-location-pin"></i> افزودن برند جدید
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-vector"></i> مدیریت خودرو ها <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Cars" asp-action="Index" class="nav-link">
                            <i class="icon icon-action-undo"></i> مدیریت خودرو ها
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Cars" asp-action="Create" class="nav-link">
                            <i class="icon icon-action-redo"></i> افزودن خودرو ها
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>