@addTagHelper*,NewKarma
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">پنل مدیریت</li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Dashbord" asp-action="Index" class="nav-link">
                    <i class="icon icon-speedometer"></i> داشبورد
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-book-open"></i> مدیریت قطعات <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <security-trimming asp-area="Admin" asp-controller="Product" asp-action="Index">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-link">
                                <i class="icon icon-target"></i> مشاهده قطعات
                            </a>
                        </li>
                    </security-trimming>
                    <security-trimming asp-area="Admin" asp-controller="Product" asp-action="Create">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="nav-link">
                                <i class="icon icon-target"></i> افزودن قطعه جدید
                            </a>
                        </li>
                    </security-trimming>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-user"></i>مدیریت دسته بندی <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <security-trimming asp-area="Admin" asp-controller="Category" asp-action="Index">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
                                <i class="icon icon-target"></i> مشاهده دسته بندی
                            </a>
                        </li>
                    </security-trimming>
                    <security-trimming asp-area="Admin" asp-controller="Category" asp-action="Create">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="nav-link">
                                <i class="icon icon-target"></i> افزودن دسته بندی جدید
                            </a>
                        </li>
                    </security-trimming>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-user"></i> مدیریت برند <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <security-trimming asp-area="Admin" asp-controller="Brand" asp-action="Index">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="nav-link">
                                <i class="icon icon-target"></i> مشاهده برند ها
                            </a>
                        </li>
                    </security-trimming>
                    <security-trimming asp-area="Admin" asp-controller="Brand" asp-action="Create">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Brand" asp-action="Create" class="nav-link">
                                <i class="icon icon-target"></i> افزودن برند جدید
                            </a>
                        </li>
                    </security-trimming>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-list"></i> مدیریت خودرو ها <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <security-trimming asp-area="Admin" asp-controller="Cars" asp-action="Index">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Cars" asp-action="Index" class="nav-link">
                                <i class="icon icon-target"></i> مدیریت خودرو ها
                            </a>
                        </li>
                    </security-trimming>
                    <security-trimming asp-area="Admin" asp-controller="Cars" asp-action="Create">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Cars" asp-action="Create" class="nav-link">
                                <i class="icon icon-target"></i> افزودن خودرو ها
                            </a>
                        </li>
                    </security-trimming>
                </ul>
            </li>
        </ul>
    </nav>
</div>