@model VmCategory
@inject Microsoft.AspNetCore.Identity.UserManager<NewKarma.Areas.Identity.Data.ApplicationUser> thisUserManagerk
@{
    ViewData["Title"] = "افزودن دسته بندی";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                @ViewData["Title"]
            </div>
            <form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post" onsubmit="return validationForm()">
                <input hidden asp-for="UserIDFK" value="@thisUserManagerk.GetUserId(User)" />
                <div asp-validation-summary="All"></div>
                <div class="row card-body mb-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label>عنوان</label>
                                    <input asp-for="Title" type="text" id="title" class="form-control validate">
                                    <span asp-validation-for="Title"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label>توضیحات</label>
                                    <input asp-for="Description" type="text" id="description" class="form-control validate">
                                    <span asp-validation-for="Description"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-info float-right">افزودن </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function validationForm() {
        var title = $('#title').val();
        var desc = $('#description').val();
        if (title == "") {
            $('#title').focus();
            $.confirm({
                icon: 'fa fa-warning',
                title: 'خطا!',
                content: 'لطفا  عنوان را وارد کنی',
                rtl: true,
                closeIcon: true,
                type: 'red',
                animation: 'opacity',
                theme: 'dark',
                buttons: {
                    confirm: {
                        text: 'تایید',
                        btnClass: 'btn-red',
                    }
                },
            });
            return false;
        }
        if (desc =='#description') {
            $('#description').focus();
            $.confirm({
                icon: 'fa fa-warning',
                title: 'خطا!',
                content: 'لطفا  عنوان را وارد کنی',
                rtl: true,
                closeIcon: true,
                type: 'red',
                animation: 'opacity',
                theme: 'dark',
                buttons: {
                    confirm: {
                        text: 'تایید',
                        btnClass: 'btn-red',
                    }
                },
            });
            return false;
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
