@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="" id="style-1">
                <div class="force-overflow"></div>
            </div>
            <div class="col-md-12 mt-3 mb-5 mb-lg-0">
                <div class="row blog_left_sidebar">
                    <h3>@ViewBag.Message</h3>



                    <div class="row text-light ts-gutter-30" id="content">
                    </div>
                    <div class="col-md-12">
                        <div class="load-more-btn text-center pt-5">
                            <div id="progress" class="text-center">
                                <p>در حال بارگزاری اطلاعات ...</p>
                                <div class="loadingCricle m-auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        var Offset = 0;
        var LimitInList = 3;
        console.log("Limit", LimitInList);
        GetData();
        $(window).scroll(function () {
            if (Math.ceil($(window).scrollTop()) == $(document).height() - $(window).height()) {
                GetData();
            }
        });


        function GetData() {
            $.ajax({
                type: 'GET',
                url: '/Home/Products',
                data: { "offset": Offset, "limitinlist": LimitInList },
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        $.each(data, function (i) {
                            $("#content").append("<a class='col-md-4'><article class= 'blog_item box' > <div id='prodimg' class='blog_item_img' style='background-image:url(/img/imgUpload/Product/" + data[i].image + ");><span data-toggle='tooltip' data-placement='top' title='مشاهده قطعات" + data[i].brandName + " href='/Home/ProductByBrand?brandId='" + data[i].brandIDFK + " class='blog_item_date btn btn_2' id='BrandBtn'><img src='/img/imgUpload/Brand/" + data[i].brandLogo + "'/><span style='font-size:14px; justify-content:center; display:flex;'>" + data[i].brandName + "</span></span></div><div class='blog_details'><h2 class='d-inline-block'>" + data[i].title + "</h2><p>" + data[i].description + "</p></div></a>")
                        });
                        Offset++;
                    }
                },
                beforeSend: function () {
                    $("#progress").show();
                },
                complete: function () {
                    $("#progress").hide();
                },
                error: function () {
                    alert("Error");
                    //ShowSweetErrorAlert();
                }
            });
        }
    </script>
}

@*<div class="modal fade" id="errorCatModal">
        <div class="container">
            <div class="row">
                <div class="padding-top-bottom-120">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-warning">
                                <button class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                                <h5 class="modal-title" id="addCategoryModalLabel">خطایی رخ داده</h5>
                            </div>
                            <div class="modal-body">
                                متاسفانه در حال حاضر قطعه ای در این دسته بندی مشاهده نمی شود
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorBrandModal">
        <div class="container">
            <div class="row">
                <div class="padding-top-bottom-120">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-warning">
                                <button class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                                <h5 class="modal-title">خطایی رخ داده</h5>
                            </div>
                            <div class="modal-body">
                                متاسفانه در حال حاضر قطعه ای از این برند موجود نیست
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
